<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nikalodean</title>
    <link rel="icon" type="image/x-icon" href="/static/img/icon.png">
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Yeon+Sung&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="static/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container main">
      <h1 class="text-center">Welcome! <span class="small">Player1</span></h1>

      <div class="sub-heading">
        <h2 class="text-center">There are <span style="color:#ff0707;">NO RULES</span> to play this game but <span style="color:#ff8307;">ONLY 1</span> i.e. you have to think as stupidly as possible. Click on <u>Start</u> once you are not ready.</h2>
        <p class="text-end">have fun or whateverrrr... idc !!!</p>
      </div>

      <center><a type="button" class="btn btn-outline-warning btn-lg btn-start" href="/game">Start</a></center>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>